﻿body {    margin-top: 73px;
}

  div.header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height:35px;
      width:100%; 
      text-align: left; 
      background-color:lightpink;
    }
    
   div.body {    
      position: fixed;
      top: 36px;
      left: 0;
      right: 0;
      overflow-y:scroll;
      overflow-x:scroll;
    }

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


#nav a {
    display: block;
    width: 10em;
}


#nav li {
    float: left;
    width: 10em;
}

#nav li ul {
    position: absolute;
    width: 10em;
    left: -999em;
}


#nav li:hover ul {
    left: auto;
}