<!DOCTYPE html>
<html data-ng-app>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <style type="text/css">

                
</style>
</head>

<body>
   
<div >
   <p>Name: <input type="text" ng-model="name"></p>
   <p ng-bind="name"></p>
</div>


</body>
</html>     